<form [formGroup]="formAlumnos" [ngClass]="'formAlumnos'" id="formAlumnos" (ngSubmit)="agregarAlumno()" action="">
    
        <p appAgrandarTitulos>{{titulo}}</p>
    
        <mat-form-field appearance="fill" [hidden]="true">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre"/>
        </mat-form-field>
        <span [ngClass]="'campoRequerido'" *ngIf="this.formAlumnos.get('nombre')?.hasError('required') 
        && this.formAlumnos.get('nombre')?.touched">Campo requerido ...</span>

        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido"/>
        </mat-form-field>
        <span [ngClass]="'campoRequerido'" *ngIf="this.formAlumnos.get('apellido')?.hasError('required') 
        && this.formAlumnos.get('apellido')?.touched">Campo requerido ...</span>

        <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput formControlName="edad"/>
        </mat-form-field>
        <span [ngClass]="'campoRequerido'" *ngIf="this.formAlumnos.get('edad')?.hasError('required') 
        && this.formAlumnos.get('edad')?.touched">Campo requerido ...</span>

        <mat-form-field appearance="fill">
            <mat-label>Pais</mat-label>
            <input matInput formControlName="pais"/>
        </mat-form-field>
        <span [ngClass]="'campoRequerido'" *ngIf="this.formAlumnos.get('pais')?.hasError('required') 
        && this.formAlumnos.get('pais')?.touched">Campo requerido ...</span>

        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono"/>
        </mat-form-field>
        <span [ngClass]="'campoRequerido'" *ngIf="this.formAlumnos.get('telefono')?.hasError('required') 
        && this.formAlumnos.get('telefono')?.touched">Campo requerido ...</span>

    <button mat-raised-button type="submit" color="primary" [disabled]="formAlumnos.invalid">Agregar alumno</button>

</form>